.map-container {
    position: relative;
    overflow: hidden;
    height: 100%;
    border-radius: 12px;
}
.map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    border: 0;
}